:root {
  --primary-color: #031c2b; /* deep navy blue */
  --secondary-color: #e1c555d4; /* warm yellow */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: rgba(245, 222, 179, 0.5);
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 1rem;
}



.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem   ;
    background-color: rgba(245, 222, 179, 0.5);
}

.hero article {
    position: absolute;
    bottom: 5px;
    padding: .05rem;
    background-color:rgba(245, 222, 179, 0.5);
}

.hero article img {
    width: 200px;
    height: auto;  
    float: right;
    padding: 1rem;
    margin: 20px 20px;
    margin-left: 20px;
}

h2 {
    text-align: center;
    width: 100%;;
    padding: 1rem;
    background-color: var(--secondary-color);
}

footer {
    border-top: 1px solid var(--accent1-color);
    margin-bottom: 1rem;
    margin-top: 15px;
}
