* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 500px;
    margin: 1rem;
    padding: 1rem;
    background-color:  #fff;
    color: navy;
    }

h1 {
    margin: .5rem;
}

form {
background-color: #ddd;
color: #111;
}

input, textarea, select, button {
    padding: 0.75rem;
    width: 350px;
}

code {
    display: block;
    background-color: #000;
    color: #fff;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
}


button {    
background-color: navy;
color: #fff;
border-radius: 0.5rem;
margin: 0 auto;
display: block;
border: 1px solid rgb(0 0 0 / 10%);
}

.quiz-item {
    border: none;
}

.Numbers-color {
    color: navy;
    font-weight: bold;
}