table {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse ;
    border: 2px solid gray;
    letter-spacing: 1px;
    font-size: 1rem;
} 

th, td {
  border: 1px solid rgb(150 150 150);
  padding: 8px 12px;
  text-align: center;
}

thead tr, tfoot tr {
    background-color:rgb(0 0 0);
    color: white;
    font-weight: 600;
}

tbody tr:nth-last-child(odd) {
  background-color: #f2f2f2; /* Light gray background for odd rows */
}

/* Style the even-numbered rows */
tbody tr:nth-child(even) {
  background-color: #ffffff; /* White background for even rows */
}

tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Override the background for the specific column cells */
.no-stripe {
  background-color: white !important; /* to inherit the main body color, I would use inherit*/
}