* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

body {
    font-size: 16px;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

:root {
    --background-color:darkblue;
    --border-color: black;  
} 

nav {
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

nav a {
    color: white; /* recall also #fff is shorthand for white */
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--background-color);
    padding-left: 1rem;
    border-bottom: dimgrey;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    /* you most likely will have other CSS declarations here */
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 1rem;
}


aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}


aside img {
    width: 200px;
    height: auto;
}

h2 {
    position: absolute;
    top: 10px;
    left: 140px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0/ 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

.indent {
    padding-left: 2rem;
}