.callout {
    max-width: 400px;
    margin: 10px;
    padding:15px;
    border: 1px solid black;
	background-color: #070d58;
    color: white;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
	width: 100px;
    height: auto;
    border: 1px solid black;
    padding: 3px;
    background-color: #bbb;
}

blockquote {
    margin: 5px;
	
}

cite {
    display: block;
    border-top: 1px dotted;
	padding-top: 3px;
    text-align: right;
    font-size: smaller;
}