body {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 10px;
    padding: 2px;
    text-align: center;
    font-size: 1.35em;
    color: white;
    background-color: rgb(47, 46, 46);
}

h1{
    text-align: center;
    font-size: 2.25rem
}

img{
    width: 400px;
    height: auto;
    border: 1px black;
    margin: 0 100px;
    box-shadow: 0 -3px 25px rgb(47, 46, 46);
}

section{
    background-color: #DBDBDB;
    max-width: 380px;
    margin: 0 auto;
    padding: 10px 10px;
    margin-top: 25px;
}

section h2 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
section p {
    padding: 0 10px;
}

footer{
    background-color: rgb(47, 46, 46);
    color: white;
    text-align: center;
    padding: 2px;
    margin-top: 25px;
}